# Directorios ocultos de Terraform (donde se descargan los proveedores gigantes como AWS)
.terraform/

# Archivos de estado local (¡Nunca se suben porque tienen datos sensibles!)
*.tfstate
*.tfstate.*

# Archivos de bloqueos de dependencias
.terraform.lock.hcl

# Planes generados por terraform plan -out=...
*.tfplan

# Archivos de variables con secretos
*.tfvars
*.tfvars.json

# Archivos de crash/log de Terraform
crash.log
crash.*.log
