name: Rollback S3 Deployment (Auto Previous Version)

on:
  workflow_dispatch:
    inputs:
      s3_bucket:
        description: "Nombre del bucket S3"
        required: true
      object_key:
        description: "Archivo a restaurar (ej: index.html)"
        required: true
      cloudfront_distribution_id:
        description: "ID de la distribución CloudFront"
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  rollback:
    runs-on: ubuntu-latest

    steps:
      - name: Configurar credenciales AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::736358620753:role/github-actions-s3-deploy
          aws-region: us-east-1

      - name: Obtener versión anterior del objeto
        id: get_version
        run: |
          VERSION_ID=$(aws s3api list-object-versions \
            --bucket "${{ inputs.s3_bucket }}" \
            --prefix "${{ inputs.object_key }}" \
            --query 'Versions[?IsLatest==`false`]|[0].VersionId' \
            --output text)

          if [ "$VERSION_ID" = "None" ] || [ -z "$VERSION_ID" ]; then
            echo "No se encontró una versión anterior"
            exit 1
          fi

          echo "version_id=$VERSION_ID" >> $GITHUB_OUTPUT

      - name: Restaurar versión anterior en S3
        run: |
          aws s3api get-object \
            --bucket "${{ inputs.s3_bucket }}" \
            --key "${{ inputs.object_key }}" \
            --version-id "${{ steps.get_version.outputs.version_id }}" \
            restored-object

          aws s3api put-object \
            --bucket "${{ inputs.s3_bucket }}" \
            --key "${{ inputs.object_key }}" \
            --body restored-object \
            --content-type text/html

      - name: Invalidar caché de CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id "${{ inputs.cloudfront_distribution_id }}" \
            --paths "/*"
